<div class="main-background-wrap">
    <div class="main-wrap">
        <!-- Swiper -->
        <!-- 목록이름 -->
        <div class="available-car-title-wrap">
            <p>신청 가능한 차량 목록</p>
        </div>
        <div class="swiper mySwiper">
            <div id="available-car" class="swiper-wrapper"></div>
            <div class="swiper-pagination"></div>
        </div>
        <div class="unavailable-car-title-wrap">
            <p>현재 이용중인 차량 목록</p>
        </div>
        <div class="swiper mySwiper">
            <div id="unavailable-car" class="swiper-wrapper"></div>
            <div class="swiper-pagination"></div>
        </div>
    </div>
</div>
<!-- Swiper JS -->
<script src="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.js"></script>
<script>
    // // ejs 문법으로 넘어온 isLogined
    const isLogined = '<%= Object.keys(user).length > 0 %>';
    if (isLogined === 'false') {
        alert('로그인 후 이용가능합니다.');
        location.href = '/login';
    }

    // swiper library config
    let swiper = new Swiper('.mySwiper', {
        effect: 'coverflow',
        grabCursor: true,
        centeredSlides: true,
        slidesPerView: 'auto',
        slideToClickedSlide: true,
        coverflowEffect: {
            rotate: 50,
            stretch: 0,
            depth: 100,
            modifier: 1,
            slideShadows: true,
        },
        navigation: {
            nextEl: '.swiper-button-next',
            prevEl: '.swiper-button-prev',
        },
        pagination: {
            el: '.swiper-pagination',
            clickable: true,
        },
    });

    let availableCarList = [];
    let unavailableCarList = [];

    $.ajax({
        type: 'GET',
        url: '/api/users/drivers',
        async: false,
        success: function (response) {
            for (let i = 0; i < response.availableCar.length; i++) {
                availableCarList.push(response.availableCar[i]);
            }
            for (let i = 0; i < response.unavailableCar.length; i++) {
                unavailableCarList.push(response.unavailableCar[i]);
            }
        },
        error: function (response) {
            console.log(response.responseJSON.message);
        },
    });

    console.log(availableCarList);
    console.log(unavailableCarList);

    // 1. 신청 가능한 사장 리스트가 있을때
    if (availableCarList.length !== 0) {
        for (let i = 0; i < availableCarList.length; i++) {
            let driverHtml = `
            <div class="swiper-slide" driverId=${availableCarList[i].driverId}>
                <div class="swiper-img-wrap">
                    <img src="${availableCarList[i].image}" />
                </div>
                <div class="swiper-btn-wrap">
                    <button type="button" onclick="window.location.href='/order?driverId=${availableCarList[i].driverId}'">신청하기</button>
                </div>
            </div>
        `;
            $('#available-car').append(driverHtml);
        }
    }

    // 2. 신청 가능한 사장 리스트가 없을때
    if (availableCarList.length === 0) {
        let messageHtml = `
            <div class="message">
                신청 가능한 차량 목록이 없습니다.
            </div>
        `;
        $('#available-car').append(messageHtml);
    }

    // 3. 신청 불가능한 사장 리스트가 있을때
    if (unavailableCarList.length !== 0) {
        for (let i = 0; i < unavailableCarList.length; i++) {
            let driverHtml = `
            <div class="swiper-slide" driverId=${unavailableCarList[i].driverId}>
                <div class="swiper-img-wrap">
                    <img src="${unavailableCarList[i].image}" />
                </div>
                <div class="swiper-name-wrap">
                    <p>${unavailableCarList[i].name}</p>    
                </div>
            </div>
        `;
            $('#unavailable-car').append(driverHtml);
        }
    }
    // 4. 신청 불가능한 사장 리스트가 없을때
    if (unavailableCarList.length === 0) {
        let messageHtml = `
            <div class="message">
                신청 가능한 차량 목록이 없습니다.
            </div>
        `;
        $('#unavailable-car').append(messageHtml);
    }
</script>
