<div class="driver-wrap">
    <div class="order-in-progress-title-wrap">
        <p>진행 중인 신청내용</p>
    </div>
    <div id="order-in-progress-content-container"></div>

    <div class="order-complete-title-wrap">
        <p>완료된 신청내용</p>
    </div>
    <div id="data-container"></div>
    <div id="pagination"></div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/paginationjs/2.1.4/pagination.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/paginationjs/2.1.4/pagination.css" />
<script defer src="./js/driver.js"></script>
