<div class="header">
    <div class="header-wrap">
        <div class="logo">
            <img src="./css/—Pngtree—kneeling sleep sheep sheep hand_3932623.png" style="width: 100px; margin-right: 10px" />
            <a href="/">양한마리</a>
        </div>
        <% if (Object.keys(user).length > 0) { %>
        <div class="header-btn-wrap">
            <div class="mypage-btn-wrap">
                <button type="button" onclick="location.href='/mypage'">마이페이지</button>
            </div>
            <div class="logout-btn-wrap">
                <button type="button" onclick="logout()">로그아웃</button>
            </div>
        </div>
        <% } %>
    </div>
</div>
<script>
    function logout() {
        $.ajax({
            type: 'GET',
            url: '/api/users/logout',
            success: function (response) {
                alert('로그아웃이 정상적으로 처리되었습니다.');
                window.location.href = '/login';
            },
            error: function (response) {
                console.log(response.responseJSON.message);
            },
        });
    }
</script>
