<link rel="stylesheet" href="./css/mypage.css"/>

<div class="main-background">
  
</div>

<div class="config-background container">
  <h1 style="color: black;">잔여 포인트 : 100,000</h1>
  <button type="button" class="btn btn-warning mt-3" style="font-size: 30px;">이용현황</button>
  <div class="btn-end">
    <button type="button" class="btn btn-success me-3" style="font-size: 30px;">할인등록 쿠폰</button>
    <button type="button" class="btn btn-danger" style="font-size: 30px;">리뷰 조회</button>
  </div>
</div>

<div class="sub-background container">
</div>