.background-wrap {
    width: 100%;
    min-height: 100vh;
    background-image: url('../image/onesheep.png');
    background-position: center;
    background-size: cover;
}

.driver-wrap {
    width: 1320px;
    min-height: 100%;
    margin: 0 auto;
    padding: 12rem 0 2rem 0;
}

.driver-wrap .order-in-progress-title-wrap,
.driver-wrap .order-complete-title-wrap {
    width: 100%;
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
}

.driver-wrap .order-in-progress-title-wrap p,
.driver-wrap .order-complete-title-wrap p {
    font-size: 2.5rem;
    font-weight: bold;
    color: #ffffff;
    text-shadow: -2px 0px #000000, 0px 2px #000000, 2px 0px #000000, 0px -2px #000000;
}

.driver-wrap .order-in-progress-btn-wrap {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
}

.driver-wrap .order-in-progress-btn-wrap button {
    /* border: 1px solid #ffffff; */
    border: none;
    padding: 0.75rem 1.25rem;
    box-sizing: border-box;
    border-radius: 10px;
    color: #000000;
    background: transparent;
    margin-right: 0.5rem;
}

.driver-wrap .order-in-progress-btn-wrap button:hover {
    transform: scale(1.1);
    outline: 1px solid #ffffff;
    background: transparent !important;
    color: #ffffff;
}

.driver-wrap .order-in-progress-btn-wrap button.btn-order-pending {
    background-color: #c0c0c0;
}
.driver-wrap .order-in-progress-btn-wrap button.btn-order-complete {
    background-color: #6cce9d;
}
.driver-wrap .order-in-progress-btn-wrap button.btn-move {
    background-color: #72a6ff;
}
.driver-wrap .order-in-progress-btn-wrap button.btn-in-use {
    background-color: #fdfd96;
}
.driver-wrap .order-in-progress-btn-wrap button.btn-use-complete {
    background-color: #ff8c8c;
}
.driver-wrap .order-in-progress-btn-wrap button.btn-cancel {
    background-color: #f46b6b;
    /* color: #ffffff; */
}
.driver-wrap .order-in-progress-btn-wrap button.btn-order {
    background-color: lightblue;
    /* color: #ffffff; */
}

.driver-wrap #order-in-progress-content-container,
.driver-wrap #data-container {
    width: 100%;
    margin-bottom: 5rem;
}

.driver-wrap .order-in-progress-content-wrap,
.driver-wrap .order-complete-content-wrap {
    padding: 1rem;
    width: 100%;
    box-sizing: border-box;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    overflow: hidden;
    word-wrap: break-word;
    margin-bottom: 2rem;
    /* backdrop-filter: blur(15px); */
    color: #000000;

    -webkit-backdrop-filter: brightness(1.1) blur(40px);
    backdrop-filter: brightness(1.1) blur(40px);
    mix-blend-mode: overlay;

    display: flex;
}

.driver-wrap .order-in-progress-content-wrap .content-left,
.driver-wrap .order-in-progress-content-wrap .content-right {
    width: 50%;
    display: flex;
    flex-direction: column;
}

.driver-wrap .order-in-progress-content-wrap .content-left .content-head,
.driver-wrap .order-in-progress-content-wrap .content-right .content-head {
    width: 25%;
    font-weight: bold;
    font-size: 1.25rem;
}
.driver-wrap .order-in-progress-content-wrap .content-left .content-body,
.driver-wrap .order-in-progress-content-wrap .content-right .content-body {
    width: 75%;
}

.driver-wrap .order-in-progress-content-wrap .content-left .content-left-customer,
.driver-wrap .order-in-progress-content-wrap .content-left .content-left-phone,
.driver-wrap .order-in-progress-content-wrap .content-left .content-left-address,
.driver-wrap .order-in-progress-content-wrap .content-left .content-left-status,
.driver-wrap .order-in-progress-content-wrap .content-right .content-right-request,
.driver-wrap .order-in-progress-content-wrap .content-right .content-right-usageDate,
.driver-wrap .order-in-progress-content-wrap .content-right .content-right-usageTime {
    display: flex;
    margin: 1rem 0;
}

.message {
    text-align: center;
    margin-bottom: 2rem;
    color: yellow;
}

.paginationjs {
    display: flex;
    justify-content: center;
}

.paginationjs-pages li > a {
    color: #ffffff !important;
    background: transparent !important;
}

.paginationjs-pages li.active > a {
    background-color: skyblue !important;
}
