.header {
    width: 100%;
    height: 100px;
    background-color: #bedae5;
}

.header .header-wrap {
    width: 1320px;
    height: 100%;
    background: transparent;
    margin: 0 auto;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header .header-wrap .logo {
    height: 100%;
    font-size: 3.5rem;
    font-family: 'FlowerSalt';
    font-weight: bold;
    color: #ffffff !important;

    display: flex;
    align-items: center;
}

.header .header-wrap .logo a {
    color: #ffffff;
    text-shadow: 2px 2px 2px #000;
}
