.main-background {
    width: 100%;
    height: 100vh;

    position: relative;

    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('http://www.ridemag.co.kr/news/photo/202008/15144_93134_3521.jpg');
    background-position: center;
    background-size: cover;
}

.sub-background {
    position: absolute;

    top: 40%;
    left: 35%;
    transform: translate(-50%, -50%);

    text-align: left;
}

.sub-background h1 {
    font-size: 7rem;
    color: #bedae5;
    font-weight: bold;
    margin-bottom: 2rem;
}

.sub-background p.intro {
    font-size: 1.75rem;
    color: #ffffff;
}

.login-box {
    position: absolute;

    top: 40%;
    left: 70%;
    transform: translate(-50%, -50%);

    width: 600px;
    height: 350px;
    background-color: white;
    border-radius: 10px;
    padding: 1.25rem;

    text-align: center;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.login-box button.login {
    background-color: skyblue;
    padding: 1rem;
    border: none;
    box-sizing: border-box;
}
.login-box button.register {
    width: 100%;
    padding: 1rem;
    background-color: #96dc74;
    border: none;
    box-sizing: border-box;
}

.login-box .form-check {
    line-height: 1.75rem;
}
