.order-wrap {
    flex-basis: 1320px;
    height: 100%;
    margin: 5rem auto;
    padding-bottom: 20px;
}

.order-wrap .driver-info-and-reviews {
    /* width: 660px;
    height: 800px;
    align-items: center;
    float:left; */
    background-color: green;

}

.driver-info-and-reviews .driver-info {
    height: 400px;
    background-color: aquamarine;
}

.driver-info-and-reviews .driver-reviews {
    height: 400px;
    background-color: aqua;
}

.order-register {
    /* width: 660px;
    height: 800px;
    float: left; */
    background-color:bisque;
}

#order-points p {
    color: rgb(184, 0, 0);
}