.order-wrapping-background {
    width: 100%;
    min-height: 100vh;
    background-image: url("../image/onesheep.png");
    background-position: center;
    background-size: cover;
}

.order-wrap {
    width: 1320px;
    min-height: 100%;
    margin: 0 auto;
    padding: 12rem 0 2rem 0;
}

.order-content-wrap {
    padding: 1rem;
}

.row {
    background-color: transparent;
    border-radius: 20px;
    /* backdrop-filter: blur(15px); */
    -webkit-backdrop-filter: brightness(1.1) blur(40px);
    backdrop-filter: brightness(1.1) blur(40px);
    /* mix-blend-mode: overlay; */
}

.order-wrap .driver-info-and-reviews {
    /* width: 660px;
    height: 800px;
    align-items: center;
    float:left; */
    /* background-color: green; */
}

.driver-info-and-reviews .driver-info {
    padding-top: 30px;
    min-height: 400px;
    /* background-color: aquamarine; */
}

.driver-info-and-reviews .driver-reviews {
    min-height: 400px;
    padding-top: 10px;
    padding-bottom: 30px;
    /* background-color: aqua; */
}

h1 {
    text-align: center;
    font-size: 40px;
    padding-bottom: 10px;
}

/* 사장님 정보 부분 */
.driver-info img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-height: 400px;
}

/* 리뷰 부분 */
.card {
    margin-bottom: 10px;
}

.card h5 {
    color: rgb(91, 130, 202);
    font-size: 20px;
    margin-bottom: 15px;
}

.card .review-date {
    color: rgb(153, 152, 152);
    font-size: 12px;
    padding-bottom: 8px;
}

.card .card-text {
    font-size: 18px;
}

.card .review-stars {
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 18px;
}

/* 신청 폼 부분 */
/* .order-register {
    width: 660px;
    height: 800px;
    float: left; */
/* background-color:bisque; 
}*/

.order-register h1 {
    text-align: center;
    padding-top: 30px;
    padding-bottom: 15px;
}

.order-register button {
    float: right;
    position: relative;
    font-size: 25px;
}

#order-points {
    text-align: right;
    padding-bottom: 8px;
}

#order-points p {
    color: rgb(184, 0, 0);
}

input[type="number"].hide-spinners {
    -moz-appearance: textfield;
}

input[type="number"].hide-spinners::-webkit-outer-spin-button,
input[type="number"].hide-spinners::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.alert {
    position: fixed;
    bottom: 0px;
    right: 0px;
    display: none;
}
